{% extends "admin/change_list.html" %}

{% load i18n admin_urls unfold %}

{% block actions-items %}
    {% if not is_popup and has_add_permission and has_change_permission %}
        {% capture as title silent %}
            {% blocktrans with cl.opts.verbose_name_plural|escape as name %}Recover deleted {{name}}{% endblocktrans %}
        {% endcapture%}

        {% url opts|admin_urlname:'recoverlist' as link %}

        {% include "unfold/helpers/tab_action.html" with title=title link=link icon="history" %}
    {% endif %}

    {{ block.super }}
{% endblock %}
