[tool.poetry]
name = "django-unfold"
version = "0.3.0"
description = "Clean & minimal Django admin theme based on Tailwind CSS"
license = "MIT"
readme = "README.md"
authors = []
homepage = "https://github.com/remastr/django-unfold"
repository = "https://github.com/remastr/django-unfold"
packages = [
    { include = "unfold", from = "src" },
]
keywords = [
    "django",
    "admin",
    "tailwind",
    "theme",
]
classifiers = [
    "Programming Language :: Python",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Operating System :: OS Independent",
    "Environment :: Web Environment",
    "Intended Audience :: Developers",
    "Framework :: Django",
]

[tool.black]
target-version = ["py38", "py39"]

[tool.isort]
profile = "black"

[[tool.mypy.overrides]]
module = "tests.*"
allow_untyped_defs = true

[tool.pycln]
all = true

[tool.poetry.dependencies]
python = ">=3.8"
django = ">=3.2"

[build-system]
requires = ["poetry>=1.0"]
build-backend = "poetry.masonry.api"
