[tool.poetry]
name = "django-unfold"
version = "0.7.0"
description = "Clean & minimal Django admin theme based on Tailwind CSS"
license = "MIT"
readme = "README.md"
authors = []
homepage = "https://unfoldadmin.com"
repository = "https://github.com/unfoldadmin/django-unfold"
packages = [
    { include = "unfold", from = "src" },
]
keywords = [
    "django",
    "admin",
    "tailwind",
    "theme",
]
classifiers = [
    "Programming Language :: Python",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Operating System :: OS Independent",
    "Environment :: Web Environment",
    "Intended Audience :: Developers",
    "Framework :: Django",
]

[tool.poetry.group.test.dependencies]
pytest = "^7.3.1"
pytest-django = "^4.5.2"
tox = "^4.5.2"

[tool.black]
target-version = ["py37", "py38", "py39", "py310", "py311"]

[tool.ruff]
fix = true
line-length = 88
select = [
    "E",  # pycodestyle errors
    "W",  # pycodestyle warnings
    "F",  # pyflakes
    "I",  # isort
    "C",  # flake8-comprehensions
    "B",  # flake8-bugbear
]
ignore = [
    "E501",  # line too long, handled by black
    "B905",  # zip() without strict=True
    "C901",  # too complex
]

[tool.pytest.ini_options]
addopts = """\
    --strict-config
    --strict-markers
    --ds=tests.settings
    """
django_find_project = false

[tool.poetry.dependencies]
python = ">=3.7"
django = ">=3.2"
importlib-metadata = "6.7.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
