{% spaceless %}
    <div class="border-b border-base-200 p-3 pb-0 dark:border-base-800 empty:hidden">
        {% for error in inline_admin_formset.formset.non_form_errors %}
            {% include "unfold/helpers/messages/error.html" with error=error %}
        {% endfor %}

        {% for formset in inline_admin_formset.formset.form.nested_formsets %}
            {% for error in formset.non_form_errors %}
                {% include "unfold/helpers/messages/error.html" with error=error %}
            {% endfor %}
        {% endfor %}
    </div>
{% endspaceless %}
