{% load admin_modify admin_urls i18n %}

{% if inline_admin_form.original or inline_admin_form.show_url %}
    <tr class="border-b border-base-200 dark:border-base-800 bg-base-50 dark:bg-white/[.02] lg:bg-transparent lg:border-0 dark:lg:bg-transparent!">
        <td colspan="{{ inline_admin_form|cell_count }}">
            {% if not inline_admin_formset.opts.hide_title %}
                {% if inline_admin_form.original or inline_admin_form.show_url %}
                    <p class="group/title flex font-medium items-center px-3 text-xs py-2 lg:pb-0 lg:pt-2">
                        {% if inline_admin_form.original %}
                            <span class="{% if inline_admin_form.form.nested_formsets and inline_admin_formset.opts.ordering_field %}ml-[12px]{% endif %}">
                                {% with inline_title=inline_admin_form.original.get_inline_title %}
                                    {% if inline_title %}
                                        {{ inline_title }}
                                    {% else %}
                                        {{ inline_admin_form.original }}
                                    {% endif %}
                                {% endwith %}
                            </span>
                        {% endif %}

                        {% include "unfold/helpers/edit_inline/inline_links.html" %}
                    </p>
                {% endif %}
            {% endif %}

            {% if inline_admin_form.needs_explicit_pk_field %}
                {{ inline_admin_form.pk_field.field }}
            {% endif %}

            {% if inline_admin_form.fk_field %}
                {{ inline_admin_form.fk_field.field }}
            {% endif %}
        </td>
    </tr>
{% endif %}
