{% set priority = ["feature", "fix", "documentation", "chore"] %}
{% if context.history.unreleased|length > 0 -%}
  ## To be released

  {% for type_ in priority -%}
    {% set commits = context.history.unreleased[type_] %}
    {%- for commit in commits -%}
    - {{ commit.commit.message.rstrip() }} ([`{{ commit.commit.hexsha[:7] }}`]({{ commit.commit.hexsha | commit_hash_url }}))
    {% endfor %}
  {%- endfor %}
{% endif %}

{% for version, release in context.history.released.items() -%}
  ## {{ version.as_tag() }} ({{ release.tagged_date.strftime("%Y-%m-%d") }})

  {% for type_ in priority %}
    {% set commits = release["elements"][type_] -%}
    {% for commit in commits -%}
    - {{ commit.commit.summary.rstrip() }} ([`{{ commit.commit.hexsha[:7] }}`]({{ commit.commit.hexsha | commit_hash_url }}))
    {% endfor %}
  {% endfor %}

{% endfor %}
