<div class="border-b px-4 lg:px-12 dark:border-gray-800{% if class %} {{ class }}{% endif %}">
    <div class="container mx-auto my-4">
        <div class="max-w-7xl mx-auto">
            <div class="flex flex-row h-8 items-center">
                <h1 class="font-medium text-base text-gray-700 tracking-tight dark:text-gray-200">
                    {{ children }}
                </h1>

                <div class="flex flex-row gap-4 group items-center leading-none ml-auto relative">
                    {% include "unfold/helpers/theme_switch.html" %}

                    {% include "unfold/helpers/account_links.html" %}
                </div>
            </div>
        </div>
    </div>
</div>
