<div class="datetime flex flex-col gap-2 max-w-2xl lg:group-[.field-row]:items-center lg:group-[.field-tabular]:flex-col lg:group-[.field-tabular]:items-center">
    <div class="basis-1/2 flex flex-col lg:w-1/2 md:mt-0 lg:group-[.field-row]:flex-col group-[.field-row]:gap-2 lg:group-[.field-tabular]:flex-col group-[.field-tabular]:gap-2">
        {% if date_label %}
            <div class="font-medium mb-2 group-[.field-row]:mb-0 group-[.field-row]:flex group-[.field-row]:items-center group-[.field-tabular]:mb-0 group-[.field-tabular]:flex group-[.field-tabular]:items-center">
                {{ date_label }}
            </div>
        {% endif %}

        {% with widget=widget.subwidgets.0 %}
            <div class="flex flex-col min-w-52 relative group-[.field-row]:flex-grow group-[.field-tabular]:flex-grow">
                {% include widget.template_name %}
            </div>
        {% endwith %}
    </div>

    <div class="basis-1/2 flex flex-col lg:w-1/2 md:mt-0 lg:group-[.field-row]:flex-col group-[.field-row]:gap-2 lg:group-[.field-tabular]:flex-col group-[.field-tabular]:gap-2">
        {% if time_label %}
            <div class="font-medium mb-2 group-[.field-row]:mb-0 group-[.field-row]:flex group-[.field-row]:items-center group-[.field-tabular]:mb-0 group-[.field-tabular]:flex group-[.field-tabular]:items-center">
                {{ time_label }}
            </div>
        {% endif %}

        {% with widget=widget.subwidgets.1 %}
            <div class="flex flex-col min-w-52 relative group-[.field-row]:flex-grow group-[.field-tabular]:flex-grow">
                {% include widget.template_name %}
            </div>
        {% endwith %}
    </div>
</div>
