<div class="datetime flex flex-col gap-2 max-w-2xl lg:flex-row lg:group-[.field-row]:flex-row lg:group-[.field-row]:items-center lg:group-[.field-tabular]:flex-row lg:group-[.field-tabular]:items-center">
    <div class="basis-1/2 flex flex-col lg:group-[.field-row]:flex-row group-[.field-row]:gap-2 lg:group-[.field-tabular]:flex-row group-[.field-tabular]:gap-2">
        {% with widget=widget.subwidgets.0 %}
            <div class="flex flex-col min-w-52 relative group-[.field-row]:grow group-[.field-tabular]:grow">
                {% include widget.template_name %}
            </div>
        {% endwith %}
    </div>

    <div class="basis-1/2 flex flex-col lg:ml-auto md:mt-0 lg:group-[.field-row]:flex-row group-[.field-row]:gap-2 lg:group-[.field-tabular]:flex-row group-[.field-tabular]:gap-2">
        {% with widget=widget.subwidgets.1 %}
            <div class="flex flex-col min-w-52 relative group-[.field-row]:grow group-[.field-tabular]:grow">
                {% include widget.template_name %}
            </div>
        {% endwith %}
    </div>
</div>
