{% load i18n l10n unfold %}

{% if compare_view %}
    <form method="GET" action="{{ action }}">
{% endif %}

{% capture as message silent %}
    <div class="flex flex-row gap-1">
        <p class="grow">
            {% trans "Choose a date from the list below to revert to a previous version of this object." %}
        </p>

        {% if compare_view and comparable %}
            {% component "unfold/components/button.html" with text=_("compare") type="submit" size="xs" class="ml-auto -mr-1.5 -my-1 capitalize" %}
                {% trans 'compare' %}
            {% endcomponent %}
        {% endif %}
    </div>
{% endcapture %}

{% include "unfold/helpers/messages/primary.html" with message=message %}

<div class="border border-base-200 mb-3 overflow-auto scrollbar-default w-full rounded-default shadow-xs dark:border-base-800">
    <table id="change-history" class="border-spacing-none border-separate w-full">
        <thead>
            <tr class="*:font-semibold *:px-3 *:py-2 *:text-left">
                {% if compare_view %}
                    <th></th>
                {% endif %}

                <th>
                    {% trans 'Date/time' %}
                </th>

                <th>
                    {% trans 'User' %}
                </th>

                <th>
                    {% trans 'Comment' %}
                </th>
            </tr>
        </thead>

        <tbody>
            {% for action in action_list %}
                <tr class="{% cycle '' 'bg-base-50 dark:bg-white/[.02]' %} *:border-t *:border-base-200 *:font-normal *:px-3 *:py-2 *:text-left *:dark:border-base-800">
                    {% if compare_view %}
                        <td>
                            {% if comparable %}
                                <div class="flex flex-row items-center gap-2">
                                    <input type="radio" name="version_id1" value="{{ action.version.pk|unlocalize }}" class="{{ form_classes.radio }}" {% if action.first %}style="visibility:hidden" {% endif %}{% if version1.pk|unlocalize == action.version.pk|unlocalize or action.second %}checked="checked"{% endif %}/>
                                    <input type="radio" name="version_id2" value="{{ action.version.pk|unlocalize }}" class="{{ form_classes.radio }}" {% if version2.pk|unlocalize == action.version.pk|unlocalize or action.first == 1 %}checked="checked"{% endif%}/>
                                </div>
                            {% else %}
                                -
                            {% endif %}
                        </td>
                    {% endif %}

                    <td>
                        {% if action.url %}
                            <a href="{{ action.url }}" class="text-important">
                                {{ action.revision.date_created|date:_("DATETIME_FORMAT") }}
                            </a>
                        {% else %}
                            {{ action.revision.date_created|date:_("DATETIME_FORMAT") }}
                        {% endif %}
                    </td>

                    <td>
                        {% if action.revision.user %}
                            {{ action.revision.user.get_username }}
                            {% if action.revision.user.get_full_name %} ({{ action.revision.user.get_full_name }}){% endif %}
                        {% endif %}
                    </td>

                    <td>
                        {{ action.revision.comment|default:"" }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% if compare_view %}
    </form>
{% endif %}
