{% load i18n %}

{% with choices.0 as choice %}
    <div class="flex flex-col mb-6">
        <h3 class="font-semibold mb-2 text-gray-900 dark:text-gray-100">{% blocktrans with filter_title=title %}By {{ filter_title }}{% endblocktrans %}</h3>

        {% for field in choice.form %}
            <div class="flex flex-row flex-wrap group relative{% if field.errors %} errors{% endif %}">
                {{ field }}

                {% include "unfold/helpers/form_errors.html" with errors=field.errors %}
            </div>
        {% endfor %}
    </div>
{% endwith %}
