{% load unfold %}

{% if "badge" in item %}
    {% if "badge_callback" in item %}
        {% capture as badge_result silent %}{{ item.badge_callback }}{% endcapture %}

        {% if badge_result and badge_result != "None" %}
            {% include "unfold/helpers/badge.html" with value=badge_result style=item.badge_style variant=item.badge_variant %}
        {% endif %}
    {% else %}
        {% if item.badge %}
            {% include "unfold/helpers/badge.html" with value=item.badge style=item.badge_style variant=item.badge_variant %}
        {% endif %}
    {% endif %}
{% endif %}
