{% load i18n unfold %}

{% if sidebar_navigation %}
    <div id="nav-sidebar-apps" class="h-0 grow overflow-auto" data-simplebar>
        {% for group in sidebar_navigation %}
            {% if group.items %}
                {% has_nav_item_active group.items as has_active %}

                <div class="hidden mb-1.5 has-[ol]:has-[li]:block" {% if group.collapsible %}x-data="{navigationOpen: {% if has_active %}true{% else %}false{% endif %}}"{% endif %}>
                    {% if group.separator %}
                        <hr class="border-t border-base-200 mx-6 my-2 dark:border-base-800" />
                    {% endif %}

                    {% if group.title %}
                        <h2 class="font-semibold flex flex-row group items-center mb-1 mx-3 py-1.5 px-3 select-none text-font-important-light text-sm dark:text-font-important-dark {% if group.collapsible %}cursor-pointer hover:text-primary-600 dark:hover:text-primary-500{% endif %}" {% if group.collapsible %}x-on:click="navigationOpen = !navigationOpen"{% endif %}>
                            {{ group.title }}

                            {% include "unfold/helpers/app_list_badge.html" with item=group %}

                            {% if group.collapsible %}
                                <span class="material-symbols-outlined ml-auto transition-transform group-hover:text-primary-600 dark:group-hover:text-primary-500" x-bind:class="{'rotate-90': navigationOpen}">
                                    chevron_right
                                </span>
                            {% endif %}
                        </h2>
                    {% endif %}

                    <ol class="flex flex-col gap-0.5 px-6" {% if group.collapsible %}x-show="navigationOpen"{% endif %}>
                        {% for item in group.items %}
                            {% if item.has_permission %}
                                <li {% if item.items %}{% has_active_subitem item.items as subitem_is_active %}x-data="{'subnavigationOpen': {% if subitem_is_active or item.open %}true{% else %}false{% endif %} }"{% endif %}>
                                    <a {% if item.collapsible %}x-on:click.prevent="subnavigationOpen = !subnavigationOpen" href="#"{% else %}href="{% if item.link_callback %}{{ item.link_callback }}{% else %}{{ item.link }}{% endif %}"{% endif %} class="cursor-pointer flex h-[38px] items-center -mx-3 px-3 rounded-default hover:text-primary-600 dark:hover:text-primary-500 {% if item.active %}bg-base-100 font-semibold text-primary-600 dark:bg-white/[.06] dark:text-primary-500{% endif %}">
                                        {% if item.icon %}
                                            <span class="material-symbols-outlined md-18 mr-3 w-[18px]">
                                                {{ item.icon }}
                                            </span>
                                        {% endif %}

                                        <span>{{ item.title|safe }}</span>

                                        {% if item.badge %}
                                            <span class="bg-red-600 font-semibold ml-2 px-1 relative rounded-xs text-xs text-white">
                                                {% if item.badge_callback %}
                                                    {{ item.badge_callback }}
                                                {% else %}
                                                    {{ item.badge }}
                                                {% endif %}
                                            </span>
                                        {% endif %}

                                        {% if item.collapsible %}
                                            <span class="material-symbols-outlined ml-auto select-none transition-all group-hover:text-primary-600 dark:group-hover:text-primary-500 rotate-90" x-bind:class="{'rotate-90': subnavigationOpen}">
                                                chevron_right
                                            </span>
                                        {% endif %}
                                    </a>
                                    {% if item.items %}
                                        <ul class="border-l-2 border-base-200 flex flex-col gap-1 ml-2 my-2 dark:border-base-800" x-show="subnavigationOpen">
                                            {% for subitem in item.items %}
                                                {% if subitem.has_permission %}
                                                    <li class="ml-5">
                                                        <a href="{% if subitem.link_callback %}{{ subitem.link_callback }}{% else %}{{ subitem.link }}{% endif %}" class="block rounded-default -mx-3 px-3 py-1.5 hover:text-primary-600 dark:hover:text-primary-500 {% if subitem.active %}bg-base-100 font-semibold text-primary-600 dark:bg-white/[.06] dark:text-primary-500{% endif %}">
                                                            {{ subitem.title|safe }}
                                                        </a>
                                                    </li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ol>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    {% include "unfold/helpers/app_list_all.html" %}
{% else %}
    <p>
        {% trans "You don't have permission to view or edit anything." as error_message %}
        {% include "unfold/helpers/messages/error.html" with error=error_message %}
    </p>
{% endif %}