{% load i18n unfold_list %}

{% if cl.has_filters and cl|unfold_vertical_filters|length > 0 %}
    <a class="{% if cl.has_active_filters %}bg-primary-600 border-primary-600 text-white{% else %}bg-white border-base-200 hover:text-primary-600 dark:bg-base-900 dark:border-base-700 dark:hover:text-primary-500{% endif %} border cursor-pointer flex font-medium gap-2 group items-center px-3 py-2 rounded-default shadow-xs text-sm lg:ml-auto md:mt-0 {% if not cl.model_admin.list_filter_sheet %}2xl:hidden{% endif %}" x-on:click="filterOpen = true" x-on:keydown.escape.window="filterOpen = false">
        {% trans "Filters" %}

        <span class="material-symbols-outlined md-18 ml-auto">filter_list</span>
    </a>
{% endif %}
