{% load i18n unfold %}

<div id="confirmation">
    <form method="post" action="{{ request.build_absolute_uri }}">
        {% csrf_token %}

        {% if confirmation.title %}
            <div class="border-b border-base-200 -mx-6 mb-3 -mt-6 py-3 px-6 dark:border-base-700">
                <h1 class="font-semibold text-base text-important tracking-tight">
                    {{ confirmation.title }}
                </h1>
            </div>
        {% endif %}

        {% if confirmation.description %}
            <p>
                {{ confirmation.description }}
            </p>
        {% endif %}

        <div class="border-t border-base-200 flex flex-row justify-between mt-3 -mx-6 -mb-6 p-3 dark:border-base-700">
            {% component "unfold/components/button.html" with variant="default" href="#" extra_attrs="x-on:click='openModal = false'" %}
                {% trans "Cancel" %}
            {% endcomponent %}

            {% component "unfold/components/button.html" with submit=1 %}
                {% trans "Submit" %}
            {% endcomponent %}
        </div>
    </form>
</div>
