{% load i18n log %}

{% get_admin_log 20 as admin_log for_user user %}

{% if admin_log %}
    <div id="content-related" class="border border-base-200 flex flex-col shadow-xs dark:border-base-800 rounded-lg py-3 lg:min-w-80 lg:max-w-80">
        <h2 class="border-b border-base-200 font-semibold text-important mb-3 pb-3 px-3 dark:border-base-800">
            {% trans "Recent actions" %}
        </h2>

        <div id="recent-actions-module" class="lg:h-0 grow overflow-y-auto scrollbar-default-hover px-3">
            <ul class="actionlist relative flex flex-col gap-6 after:content-[''] after:block after:w-full after:absolute after:top-2 after:bottom-2 after:left-[17px] after:w-[1px]! after:bg-base-200 dark:after:bg-base-800 after:z-10">
                {% for entry in admin_log %}
                    <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %} flex flex-row gap-3 items-center relative z-20">
                        <span class="material-symbols-outlined border-3 border-white dark:border-base-900 flex items-center justify-center rounded-full w-[36px] min-w-[36px] h-[36px] {% if entry.is_deletion %}bg-red-600 text-white{% elif entry.is_addition %}bg-green-600 text-white{% else %}bg-base-100 text-default dark:bg-base-800{% endif %}">
                            {% if entry.is_addition %}
                                add
                            {% elif entry.is_change %}
                                edit
                            {% elif entry.is_deletion %}
                                delete
                            {% endif %}
                        </span>

                        <div class="flex flex-col gap-0.5 min-w-0">
                            <div class="truncate whitespace-nowrap">
                                <span class="font-medium text-important">
                                    {% if entry.is_deletion or not entry.get_admin_url %}
                                        {{ entry.object_repr }}
                                    {% else %}
                                        <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
                                    {% endif %}
                                </span>

                                <span class="text-subtle">
                                    ({% if entry.content_type %}{% filter capfirst %}{{ entry.content_type.name }}{% endfilter %}{% else %}{% trans 'Unknown content' %}{% endif %})
                                </span>
                            </div>

                            <div class="text-subtle text-xs">
                                {{ entry.action_time }}
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}
