{% load unfold_tags %}
{% get_message_tags as message_tags %}

{% if messages %}
    <ul>
        {% for message in messages %}
            <li class="mb-3 px-3 py-3 rounded-md text-sm last:mb-8
                {% for tag, classes in message_tags.items %}
                    {% if tag in message.tags %}
                        {{ classes }}
                    {% endif %}
                {% endfor %}
                {{ message.tags }}">
                {{ message|capfirst }}
            </li>
        {% endfor %}
    </ul>
{% endif %}
