<div class="border-b border-gray-200 mb-5 py-3 dark:border-gray-800">
    <div class="flex font-semibold gap-3 h-10 items-center px-6 text-font-important-light tracking-tight dark:text-font-important-dark xl:text-base">
        {% if site_logo %}
            {% include "unfold/helpers/site_logo.html" %}
        {% elif branding %}
            {% include "unfold/helpers/site_icon.html" %}
        {% endif %}

        <span class="block leading-none ml-auto !block xl:!hidden">
            <span class="material-symbols-outlined cursor-pointer" x-on:click="sidebarMobileOpen = !sidebarMobileOpen">
                close
            </span>
        </span>
    </div>
</div>
