{% load static %}

{% comment %}
    This snippet includes the favicon in the head of the HTML document.
    It is used in the skeleton.html layout template.
    You have to override the unfold/helpers/site_favicon.html in your project templates to use your favicons.

    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'favicon144.png' %}" />
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'favicon72.png' %}" />
    <link rel="icon" href="{% static 'favicon.png' %}" />
{% endcomment %}
