name: unfold

services:
  unfold:
    command: bash -c "uv run -- python tests/server/manage.py migrate && uv run -- python tests/server/manage.py runserver 0.0.0.0:8000"
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile
    volumes:
      - ..:/app
      - ../src/unfold:/.venv/lib/python3.14/site-packages/unfold
    env_file:
      - backend.env
    ports:
      - "8000:8000"
