{% load admin_urls i18n import_export_tags unfold %}

{% block confirm_import_form %}
    <form action="{% url opts|admin_urlname:"process_import" %}" method="post">
        {% csrf_token %}

        {{ confirm_form.as_p }}

        {% capture as message silent %}
            <div class="flex flex-row gap-1">
                <p class="grow">
                    {% trans "Below is a preview of data to be imported. If you are satisfied with the results, click 'Confirm import'" %}
                </p>

                {% component "unfold/components/button.html" with submit=1 variant="primary" class="ml-auto -mr-1.5 -my-1" size="xs" %}
                    {% trans "Confirm import" %}
                {% endcomponent %}
            </div>
        {% endcapture %}

        {% include "unfold/helpers/messages/primary.html" with message=message %}
    </form>
{% endblock %}
