{% load i18n unfold %}

{% block errors %}
    <ul>
        {% for error in result.base_errors  %}
            <li>
                {{ error.error }}

                <div class="traceback">{{ error.traceback|linebreaks }}</div>
            </li>
        {% endfor %}

        {% for line, errors in result.row_errors %}
            {% for error in errors %}
                <li x-data="{ open: false }">
                    {% capture as error_message silent %}
                        <div class="flex flex-col gap-2">
                            {% if "message" in import_error_display %}
                                <div class="flex flex-row items-center gap-4">
                                    <div>
                                        <span class="font-semibold">{% trans "Line number" %} {{ line }}</span>: {{ error.error }}
                                    </div>

                                    {% if "traceback" in import_error_display %}
                                        <span class="cursor-pointer ml-auto font-semibold" x-on:click="open = ! open">
                                            {% trans "View traceback" %}
                                        </span>
                                    {% endif %}
                                </div>
                            {% endif %}

                            {% if "row" in import_error_display %}
                                <code>
                                    {{ error.row.values|join:", " }}
                                </code>
                            {% endif %}
                        </div>
                    {% endcapture %}

                    {% include "unfold/helpers/messages/error.html" with error=error_message %}

                    {% if "traceback" in import_error_display %}
                        <div class="block border border-base-200 mb-4 rounded-default px-3 py-2.5 traceback dark:border-base-800" x-show="open">
                            {{ error.traceback|format_traceback }}
                        </div>
                    {% endif %}
                </li>
            {% endfor %}
        {% endfor %}
    </ul>
{% endblock %}
