{% load i18n admin_urls %}

{% block object-tools-items %}
    {% if has_add_permission %}
        <li>
            {% url cl.opts|admin_urlname:'add' as add_url %}

            <a href="{% add_preserved_filters add_url is_popup to_field %}" class="addlink bg-primary-600 block flex items-center h-10 justify-center -my-1 rounded-full w-10" title="{% blocktranslate with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktranslate %}">
                <span class="material-icons text-white">add</span>
            </a>
        </li>
    {% endif %}
{% endblock %}
