{% load auth %}

<div class="flex flex-row gap-2 items-center">
    <div class="readonly bg-base-50 border border-base-200 font-medium max-w-2xl px-3 py-2 rounded-default shadow-xs dark:bg-white/[.02] dark:border-base-700 *:truncate [&_strong]:font-semibold [&_strong]:text-important" {% include 'django/forms/widgets/attrs.html' %}>
        {% render_password_as_hash widget.value %}
    </div>

    {% include "unfold/components/button.html" with href=password_url|default:"../password/" variant="secondary" children=button_label %}
</div>
