{% load crispy_forms_field unfold %}

{% if form_show_labels %}
    {% if 'form-horizontal' in form_class %}
        <div class="flex flex-row items-center min-h-[38px]">
            <label for="{{ field.id_for_label }}" class="flex flex-row font-semibold gap-3 items-center text-base-900 lg:min-w-56 lg:w-56 dark:text-base-100 {% if tag == "td" %}mt-9{% endif %}">
                <span>{{ field.label }}{% if field.field.required %} <span class="asteriskField">*</span>{% endif %}</span>
            </label>

            <div class="flex flex-row grow items-center gap-3">
                {% crispy_field field 'class' form_classes.switch %}

                <div class="-mt-2">
                    {% include 'unfold_crispy/layout/help_text_and_errors.html' %}
                </div>
            </div>
        </div>
    {% else %}
        <label for="{{ field.id_for_label }}" class="flex flex-row font-semibold gap-3 items-center text-base-900 dark:text-base-100 {% if tag == "td" %}mt-9{% endif %}">
            {% crispy_field field 'class' form_classes.switch %} <span>{{ field.label }}{% if field.field.required %} <span class="asteriskField">*</span>{% endif %}</span>
        </label>

        {% include 'unfold_crispy/layout/help_text_and_errors.html' %}
    {% endif %}
{% else %}
    {% with field=field|add_css_class:form_classes.switch %}
        {% if tag == "td" %}
            <div class="flex items-center justify-center h-[38px]">
                {% crispy_field field %}
            </div>
        {% else %}
            {% crispy_field field %}
        {% endif %}
    {% endwith %}
{% endif %}
